@use '@angular/material' as mat;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: var(--color-bg);
  color: var(--color-fg);
  height: 100%;

  @include mat.theme(
    (
      //color: mat.$violet-palette,
      typography: 'Plus Jakarta Sans',
      density: 0
    )
  );

  ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }
}
