/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@forward '@fontsource/inter/500'; // Specify weight

html,
body {
	height: 100%;
}

body {
	margin: 0;

	font-family: Inter, 'Helvetica Neue', sans-serif;
	// background-image: url('../public/background.svg');

	color-scheme: light dark;
	@include mat.theme(
		(
			// color: mat.$violet-palette,
			typography: Inter,
			density: 0
		)
	);

	::-webkit-scrollbar {
		width: 9px;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background-color: rgba(155, 155, 155, 0.5);
		border-radius: 20px;
		border: transparent;
	}
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
	@include mat.progress-spinner-overrides(
		(
			active-indicator-color: blue,
		)
	);
	@include mat.table-overrides(
		(
			row-item-container-height: '2rem',
		)
	);
}

.content {
	margin: 0.25rem;
}

.delete-btn {
	@include mat.icon-button-overrides(
		(
			icon-color: #da2525,
		)
	);
	@include mat.button-overrides(
		(
			text-label-text-color: lightgrey,
			filled-container-color: red,
		)
	);
}

.dialog-flex {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
