@use 'grid';

:host {
  @include grid.metrics-grid($minW: 8rem, $maxW: 12rem, $gap: 1.2rem, $ratio: 1);

  .tile {
    //border: 1px solid red;
    @include grid.metric-tile(1); // perfectly square
  }

  // Optional variants for special tiles:
  .tile--wide {
    grid-column: span 2;
  }

  .tile--tall {
    aspect-ratio: 1 / 1.3;
  }

  & {
    margin: 1.5rem
  };

}
