@if (paymentStat.hasValue()) {
  <!--  @for (opt of PaymentOptionsArr; track opt) {-->
  @if (hasDataKeys(data())) {
    @let d = data()!;
    @for (opt of PaymentOptionsArr; track opt) {
      @if (opt in d) {
        <orda-metric-card
          [value]="d[opt]!.total_amount | number: '1.2-2'"
          [loading]="!paymentStat.hasValue()"
          [label]="PaymentOptionsKeys[keyToNumber(opt)]"
          [unit]="'€'"
        />
      } @else {
        <orda-metric-card [label]="PaymentOptionsKeys[keyToNumber(opt)]" [unit]="'€'" />
      }
    }
  } @else {
    <div class="flex flex-col items-center justify-center p-8 text-gray-400">
      <mat-icon class="text-4xl h-10 w-10 mb-2">search_off</mat-icon>
      <p>Keine Statistiken gefunden.</p>
    </div>
  }
}
