.u-flex {
  display: flex;
}

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-grid {
  display: grid;
}

.u-w-full {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
