// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// @import "@fontsource/inter"; // Defaults to weight 400
@import "@fontsource/inter/500"; // Specify weight

/* For use in src/lib/core/theming/_palette.scss */
$md-unionsaxen: (
  50: #fdf6e1,
  100: #fae9b4,
  200: #f6da83,
  300: #f2cb51,
  400: #f0c02b,
  500: #000000,
  600: #ebae05,
  700: #e8a504,
  800: #e59d03,
  900: #e08d02,
  A100: #ffffff,
  A200: #ffedd4,
  A400: #ffd8a1,
  A700: #ffcd88,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #f0c02b,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.m2-define-palette($md-unionsaxen);
$client-accent: mat.m2-define-palette($md-unionsaxen, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $client-primary,
      accent: $client-accent,
      warn: $client-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
  background-image: url("./assets/background.svg");

  ::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }
}
