@use '@angular/material' as mat;

:root {
  //@include mat.button-overrides(
  // (
  //   tonal-dashboard-color: green,
  //   tonal-label-text-color: white,
  // )
  //);
}

.delete-btn {
  @include mat.icon-button-overrides(
    (
      icon-color: #da2525,
    )
  );
}

.active-btn {
  @include mat.button-overrides(
    (
      filled-label-text-color: white,
      filled-container-color: green,
    )
  );
}

.inactive-btn {
  @include mat.button-overrides(
    (
      filled-label-text-color: black,
      filled-container-color: #f4d160,
    )
  );
}
