@use '@angular/material' as mat;

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: #f5ebe0,
    )
  );
}

.orda-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: white,
    )
  );

  & .toolbar-input {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
