<form>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input
      matInput
      [formControl]="credentials.controls.username"
      placeholder="Enter your username"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      [formControl]="credentials.controls.password"
      [type]="hide ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</form>

<button
  mat-raised-button
  color="primary"
  [disabled]="credentials.invalid"
  (click)="login()"
>
  Login
</button>


