.layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  width: 100%;
}

.login-container {
  display: grid;
  gap: 0.2em;
  grid-auto-flow: row;
  grid-template:
    "username" 0.8fr
    "password" 0.8fr
    "alert" 0.2fr
    "login" 0.7fr/1fr;
}

.password {
  justify-self: center;
  align-self: center;
  grid-area: password;
}

.username {
  justify-self: center;
  align-self: center;
  grid-area: username;
}

.login {
  justify-self: center;
  align-self: center;
  grid-area: login;
}

.alert {
  align-self: center; 
  grid-area: alert;
  margin: 0 1rem;
  color: red;
}