<form>
  <div class="layout-container">
    <div class="login-container">
      <div class="username">
        <mat-form-field
          (click)="error = ''"
          appearance="fill"
          [style.width.px]="250"
        >
          <mat-label>Username</mat-label>
          <input
            matInput
            [formControl]="credentials.controls.username"
            placeholder="Enter your username"
          />
        </mat-form-field>
      </div>

      <div class="password">
        <mat-form-field
          (click)="error = ''"
          appearance="fill"
          [style.width.px]="250"
        >
          <mat-label>Password</mat-label>
          <input
            matInput
            [formControl]="credentials.controls.password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="alert">
        {{ error }}
        @if (
          credentials.invalid && (credentials.dirty || credentials.touched)
        ) {
          @if (credentials.controls.username.errors?.["minlength"]) {
            <div class="error">
              Username should be at least
              {{
                credentials.controls.username.getError("minlength")?.[
                  "requiredLength"
                ]
              }}
              characters long
            </div>
          }
          @if (credentials.controls.password.errors?.["minlength"]) {
            <div class="error">
              Password should be at least
              {{
                credentials.controls.password.getError("minlength")?.[
                  "requiredLength"
                ]
              }}
              characters long
            </div>
          }
        }
      </div>

      <div class="login">
        <button
          mat-raised-button
          color="primary"
          [disabled]="credentials.invalid"
          (click)="login()"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</form>
