.container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "articles order";
  height: calc(100vh - 64px);
}

.articles {
  grid-area: articles;
}

.order {
  grid-area: order;
  border: 1px solid red;
}
