@if (!isMobilePortrait()) {
  <div class="container">
    <mat-tab-group
      class="products"
      mat-align-tabs="center"
      animationDuration="0ms"
      dynamicHeight="false"
    >
      @for (category of categories(); track category) {
        <mat-tab [label]="category.name"
          ><orda-ordergrid
            [category]="category"
            [style.margin.em]="0.5"
            [gridCols]="gridCols"
        /></mat-tab>
      }
    </mat-tab-group>
    <orda-cart class="cart" [style.flex-basis]="cartSize"></orda-cart>
  </div>
} @else {
  <div class="container-mobile">
    <div class="item-0">
      <mat-tab-group
        mat-align-tabs="center"
        animationDuration="0ms"
        dynamicHeight="false"
      >
        <div class="x">
          @for (category of categories(); track category) {
            <mat-tab [label]="category.name"
              ><orda-ordergrid [category]="category" [gridCols]="gridCols"
            /></mat-tab>
          }
        </div>
      </mat-tab-group>
    </div>

    <orda-cart-footer class="footer-mobile" />
  </div>
}
