:host {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  height: calc(100vh - 64px);
}

.articles {
  flex-grow: 1;
  flex-basis: fit-content;
}

.cart {
  // backdrop-filter: blur(1.5rem);
  background-color: lightgray;
}
