:host {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  height: calc(100vh - 64px);
}

.articles {
  flex-grow: 1;
  overflow-y: hidden;
}

.order {
  background-color: #a6a6a6;
  width: 20em;
}
