<mat-toolbar>
	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>menu</mat-icon>
	</button>
	<span>{{ title }}</span>

	@if (toolbarTitleService.title()) {
		<span class="spacer"></span>
		<span class="toolbar-title">{{ toolbarTitleService.title() }}</span>
	}
	<span class="spacer"></span>

	@if (sessionService.isAuthenticated()) {
		{{ sessionService.user().username }}
		<span style="margin: 0 0.5rem" [title]="`${info.value()?.build} ${info.value()?.time}`">{{
			info.value()?.version ? info.value()?.version : 'DEV'
		}}</span>
		<button mat-icon-button (click)="logout()">
			<mat-icon>logout</mat-icon>
		</button>
	}
</mat-toolbar>

<mat-menu #menu="matMenu">
	<button mat-menu-item routerLink="home">
		<mat-icon>home</mat-icon>
		<span>Home</span>
	</button>

	@if (sessionService.hasAdminRole()) {
		<button mat-menu-item routerLink="manage">
			<mat-icon>tune</mat-icon>
			<span>Manage</span>
		</button>
	}

	@if (sessionService.isAuthenticated()) {
		<button mat-menu-item routerLink="order">
			<mat-icon>local_mall</mat-icon>
			<span>Order</span>
		</button>
		<button mat-menu-item (click)="logout()">
			<mat-icon>logout</mat-icon>
			<span>Logout</span>
		</button>
	}
</mat-menu>

<div class="content">
	<router-outlet />
</div>
