<div class="h-dvh flex flex-col overflow-hidden">
  <header class="h-12 sticky top-0 z-50 text-white shadow">
    <mat-toolbar>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>

      @if (toolbarTitleService.title()) {
        <span class="spacer"></span>
        <span class="toolbar-title">{{ toolbarTitleService.title() }}</span>
      }
      <span class="spacer"></span>

      @if (sessionService.isAuthenticated()) {
        {{ sessionService.user().username }}
      }
    </mat-toolbar>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="home">
        <mat-icon>home</mat-icon>
        <span>Startseite</span>
      </button>

      @if (sessionService.hasAdminRole()) {
        <button mat-menu-item routerLink="manage">
          <mat-icon>settings</mat-icon>
          <span>Verwalten</span>
        </button>
        <button mat-menu-item routerLink="stats">
          <mat-icon>line_axis</mat-icon>
          <span>Statistik</span>
        </button>
        <button mat-menu-item routerLink="manage/history">
          <mat-icon>history</mat-icon>
          <span>Verlauf</span>
        </button>
      }

      @if (sessionService.isAuthenticated()) {
        <button mat-menu-item routerLink="order">
          <mat-icon>storefront</mat-icon>
          <span>Geschäft</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Ausloggen</span>
        </button>
      }
    </mat-menu>
  </header>

  <!-- Scrollable content area -->
  <main class="flex-1 min-h-0 overflow-auto bg-slate-50">
    <router-outlet />
  </main>
</div>
