<orda-notification></orda-notification>
<mat-toolbar color="primary">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ appname }}</span>
  <span class="example-spacer"></span>

  @if (isAuthenticated | async) {
    {{ username | titlecase }}
    <button
      (click)="logout()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>logout</mat-icon>
    </button>
  }
</mat-toolbar>

<mat-menu #menu="matMenu">
  @if (isAuthenticated | async) {
    <button [routerLink]="['/']" mat-menu-item>
      <mat-icon>store</mat-icon>
      <span>{{ "menu.store" | transloco }}</span>
    </button>
  }

  @if ((isAuthenticated | async) && isAdmin) {
    <button [routerLink]="['/history']" mat-menu-item>
      <mat-icon>history</mat-icon>
      <span>{{ "menu.history" | transloco }}</span>
    </button>
    <button [routerLink]="['/statistic']" mat-menu-item>
      <mat-icon>percent</mat-icon>
      <span>{{ "menu.statistics" | transloco }}</span>
    </button>
  }

  <button [routerLink]="['/info']" mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>{{ "menu.info" | transloco }}</span>
  </button>

  <button [routerLink]="['/assortment']" mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>Assortment</span>
  </button>
  <button [routerLink]="['/views']" mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>Views</span>
  </button>
  <button [routerLink]="['/clients']" mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>Clients</span>
  </button>

  <mat-divider></mat-divider>

  @if (isAuthenticated | async) {
    <button (click)="logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>{{ "logout" | transloco }}</span>
    </button>
  } @else {
    <button [routerLink]="['/login']" mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>{{ "login" | transloco }}</span>
    </button>
  }
</mat-menu>

<div class="content">
  <router-outlet></router-outlet>
</div>
